

@page "/dataViewer"

@using DataLibrary
@using BlazorServerApp.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<h3>DataViewer</h3>

@if (recipeDatas == null)
{
<LoadingElement />

}
else
{
<h4>Recipe Table</h4>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>RecipeID</th>
            <th>Servings</th>
            <th>Meal Type</th>
            <th>RecipeName</th>
            <th>Method</th>
            <th>Kcal</th>
            <th>Saturates</th>
            <th>Carbohydrates</th>
            <th>Sugar</th>
            <th>Fibre</th>
            <th>Protein</th>
            <th>Salt</th>
            <th>Cooking Time</th>
            <th>Preperation Time</th>
            <th>Docx File Path</th>
            <th>Difficulty</th>
            <th>Page Visits</th>
            <th>Last Requested</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (RecipeDataModel model in recipeDatas)
            {
        <tr>
            <td>@model.RecipeID</td>
            <td>@model.Servings</td>
            <td>@model.MealType</td>
            <td>@model.RecipeName</td>
            <td>@model.Kcal</td>
            <td>@model.Saturates</td>
            <td>@model.Carbohydrates</td>
            <td>@model.Sugar</td>
            <td>@model.Fibre</td>
            <td>@model.Protein</td>
            <td>@model.Salt</td>
            <td>@model.CookingTime</td>
            <td>@model.PreperationTime</td>
            <td>@model.DocxFilePath</td>
            <td>@model.Difficulty</td>
            <td>@model.PageVisits</td>
            <td>@model.LastRequested</td>
            <td></td>
        </tr>
            }
            
    </tbody>
</table>
}


@code {
        List<string> tables = new List<string> { "Recipe" };
        List<RecipeDataModel> recipeDatas;

    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from Recipe";
        recipeDatas = await _data.LoadData<RecipeDataModel, dynamic>(sql, new { }, _config.GetConnectionString("recipeDatabase"));

        RecipeDataModel recipeDataModel = new RecipeDataModel();
    }
}
