@page "/Recipe/{RecipeIDRequest:int}"
@inherits Models.RecipeDataLoader
@if (model == null)
{
    <LoadingElement />
}
else
{
    <h3>@model.RecipeName</h3>
    if (model.DocxFilePath != null)
    {
        <div><a href="@model.DocxFilePath" class="btn btn-primary">Download</a></div>
    }

    <FoodLabel nutritionLabel="@model.DisplayNutritionModel" StyleParameters="font-size: 12px; overflow-wrap: anywhere;
    width: 100px;" ShowTitle="false" />
    <h5>Serves @model.Servings</h5>
    <div class="container-fluid">
        <p>@model.Description</p>
        <div class="IngredientsTitle">
            Ingredients
        </div>

        <div class="IngredientsList">
            <ul>
                @foreach (DisplayIngredientModel ingredient in model.Ingredients)
                {
                    <li><em>@ingredient.Quantity @ingredient.Unit</em> @ingredient.Name</li>
                }
            </ul>
        </div>
        <div class="MethodList">
            <ol>
                @foreach (DisplayMethodModel step in model.Method)
                {
                    <li>@step.Step</li>
                }
            </ol>
        </div>
        <ReviewSection RecipeID="@RecipeIDRequest" />
    </div>
    if (model.DocxFilePath != null)
    {
        <div><a href="@model.DocxFilePath" class="btn btn-primary">Download</a></div>
    }

}

@code{
    [Parameter]
    public int RecipeIDRequest { get; set; }

    private bool pageRequested = false;


    DisplayRecipeModel model = new DisplayRecipeModel();

    protected override async Task OnInitializedAsync()
    {
        List<RecipeDataModel> datas = await _data.LoadData<RecipeDataModel, dynamic>("SELECT * FROM Recipe WHERE RecipeID = @recipeID",new {recipeID = RecipeIDRequest },_config.GetConnectionString("recipeDatabase"));
        List<DisplayRecipeModel> result = await BuildRecipeTreeFromDataModel(datas);

        if (!pageRequested)
        {
            await IncrementViews(RecipeIDRequest);
            pageRequested = true;
        }

        model = result[0];
    }
}
