@if (nutritionLabel != null  && !nutritionLabel.IsEmpty())
{
<div style="margin-top: 10px; margin-bottom:10px">
    <table class="FoodLabelTable">
        @if (ShowTitle)
        {
            <tr>
                <td class="FoodLabelServingTitle" colspan="6" style="@StyleParameters">Per g serving as per recipe provides</td>
            </tr>
        }
        <tr>
            <td rowspan="2" class="FoodLabelTd" style="@StyleParameters"> Energy- @($"{nutritionLabel.Kcal}kcal")</td>
            @foreach (string methodName in nutritionLabel)
            {
                <td class="FoodLabelTd" style="@StyleParameters">@methodName<br />@(nutritionLabel.GetProperty(methodName))g</td>
            }
        </tr>
        <tr>
            @foreach (string methodName in nutritionLabel)
            {
                <td class="FoodLabelTableIcon @($"FoodLabelContainer{nutritionLabel.Colour(nutritionLabel.GetPercentage(methodName))}")" style="@StyleParameters"></td>
            }
        </tr>
        <tr>
            <td class="FoodLabelTd" style="@StyleParameters">@($"{nutritionLabel.GetPercentage("Kcal")}%")</td>
            @foreach (string methodName in nutritionLabel)
            {
                <td class="FoodLabelTd" style="@StyleParameters">@($"{nutritionLabel.GetPercentage(methodName)}%")</td>
            }
        </tr>

    </table>
    @if (ShowTitle)
    {
        <h6>Micro Nutrients</h6>
        <p>@nutritionLabel.Fibre</p>
    }
</div>
}
@code{
    //Data from https://www.nhs.uk/live-well/eat-well/what-are-reference-intakes-on-food-labels/

    [Parameter]
    public string StyleParameters { get; set; }
    [Parameter]
    public bool ShowTitle { get; set; }
    [Parameter]
    public DisplayNutritionModel nutritionLabel { get; set; }
}