@if (nutritionLabel != null)
{
    <table class="FoodLabelTable">
        @if (ShowTitle)
        {
            <tr>
                <td class="FoodLabelServingTitle" colspan="6" style="@StyleParameters">Per g serving as per recipe provides</td>
            </tr>
        }

        <tr>
            <td rowspan="2" class="FoodLabelTd" style="@StyleParameters"> Energy- @($"{nutritionLabel.Kcal}kcal")</td>
            <td class="FoodLabelTd" style="@StyleParameters">Fat<br />@(nutritionLabel.Fat)g</td>
            <td class="FoodLabelTd" style="@StyleParameters">Saturates <br />@(nutritionLabel.Saturates)g</td>
            <td class="FoodLabelTd" style="@StyleParameters">Carbohydrates<br /> @(nutritionLabel.Carbohydrates)g</td>
            <td class="FoodLabelTd" style="@StyleParameters">Sugars <br />@(nutritionLabel.Sugar)g</td>
            <td class="FoodLabelTd" style="@StyleParameters">Salt<br /> @(nutritionLabel.Salt)g</td>
        </tr>
        <tr>

            <td class="FoodLabelTableIcon @($"FoodLabelContainer{nutritionLabel.Colour(nutritionLabel.FatPercentage())}")" style="@StyleParameters"></td>
            <td class="FoodLabelTableIcon @($"FoodLabelContainer{nutritionLabel.Colour(nutritionLabel.SaturatePercentage())}")" style="@StyleParameters"></td>
            <td class="FoodLabelTableIcon @($"FoodLabelContainer{nutritionLabel.Colour(nutritionLabel.CarbohydratePercentage())}")" style="@StyleParameters"></td>
            <td class="FoodLabelTableIcon @($"FoodLabelContainer{nutritionLabel.Colour(nutritionLabel.SugarPercentage())}")" style="@StyleParameters"></td>
            <td class="FoodLabelTableIcon @($"FoodLabelContainer{nutritionLabel.Colour(nutritionLabel.SaltPercentage())}")" style="@StyleParameters"></td>
        </tr>
        <tr>
            <td class="FoodLabelTd" style="@StyleParameters">@($"{nutritionLabel.EnergyPercentage()}%")</td>
            <td class="FoodLabelTd" style="@StyleParameters">@($"{nutritionLabel.FatPercentage()}%")</td>
            <td class="FoodLabelTd" style="@StyleParameters">@($"{nutritionLabel.SaturatePercentage()}%")</td>
            <td class="FoodLabelTd" style="@StyleParameters">@($"{nutritionLabel.CarbohydratePercentage()}%")</td>
            <td class="FoodLabelTd" style="@StyleParameters">@($"{nutritionLabel.SugarPercentage()}%")</td>



            <td class="FoodLabelTd" style="@StyleParameters">@($"{nutritionLabel.SaltPercentage()}%")</td>
        </tr>
       
    </table>
}
    @code{
        //Data from https://www.nhs.uk/live-well/eat-well/what-are-reference-intakes-on-food-labels/

        [Parameter]
        public string StyleParameters { get; set; }
        [Parameter]
        public bool ShowTitle { get; set; }
        [Parameter]
        public DisplayNutritionModel nutritionLabel { get; set; }



    }