@page "/Recipe/{RecipeIDRequest:long}"
@inject IRecipeDataLoader dataLoader
@inject NavigationManager NavManager
@inject ILovePDFSettings ilovePDFSettings
@inject IFileManger fileManager
@inject IConfiguration config

@using Append.Blazor.Printing
@inject IPrintingService PrintingService
@using BlazorServerApp.proccessService
@using BlazorServerApp.Extensions
@using LovePdf
@using LovePdf.Core;
@using LovePdf.Model.Enums;
@using LovePdf.Model.Task;
@using LovePdf.Model.TaskParams;
@if (!recipeFound)
{
    <h1>Sorry pal, no recipe found with the ID @RecipeID.</h1>

}
else if (!validIdentifier)
{
    <ErrorNotification ErrorMessage="Sorry, the ID you provided was not recognised as valid!" />
}
else if (model != null)
{
<div class="card">
    <h4 class="card-header">@model.RecipeName.SentenceCase() @(model.MealType == null? "unknown": $"({model.MealType})")</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><ReviewSummary DisplayReviewModel="@model.Reviews" /></li>
        <li class="list-group-item">Cooking time: @model.CookingTime minutes</li>
        <li class="list-group-item">Preperation time: @model.PreperationTime mintues</li>
        <li class="list-group-item">Serves: @(model.Servings == 0?"unkown":model.Servings)</li>
        <li class="list-group-item">Difficulty: @(model.Difficulty == null? "unknown":model.Difficulty)</li>
        <li class="list-group-item">
            <IngredientsTag @bind-ingredients="model.Ingredients"></IngredientsTag>
        </li>

    </ul>
    <div class="card-body">
        <a href="@DownloadPath" target="=_top" class="btn btn-primary" style="margin:5px;">Download as .Docx</a>
        <btn class="btn btn-primary" @onclick="AltPrint">Print 🖨</btn>
    </div>
    <AuthorizeView Roles="Administrator">
        <div class="card-header">Admin Features</div>
        <div class="card-body" style="display:flex;">
            <a href="/Recipe/@RecipeID/Edit" class="btn btn-primary">Edit Recipe</a>
            <a @onclick="@(() => DeleteRecipe())" class="btn btn-danger text-white">⚠ Delete Recipe</a>
        </div>
    </AuthorizeView>
    <ul class="list-group list-group-flush">
        @if (model.Description != null)
        {
            <li class="list-group-item">
                <h3>Description</h3>
                @foreach (string line in model.Description.Split("\n"))
                {
                <p style="margin-bottom:0;">@line</p>
                }
                </li>
                }
                @if (model.Ingredients != null && model.Ingredients.Count > 0)
                {
                <li class="list-group-item">

                    @if (DownloadPath != null)
                    {
                        <h3>Ingredients</h3>
                    }
                    <div class="IngredientsList">
                        <ul>
                            @foreach (Ingredient ingredient in model.Ingredients)
                            {
                                <li>@ingredient.IngredientName</li>
                            }
                        </ul>
                    </div>
                </li>
            }
                @if (model.Equipment != null && model.Equipment.Count() > 0)
                {
                    <li class="list-group-item">
                        <h3>Equipment</h3>
                        <div class="EquipmentList">
                            <ul>
                                @foreach (Equipment equipmentModel in model.Equipment)
                                {
                                    <li>@equipmentModel.EquipmentName </li>
                                }
                            </ul>
                        </div>
                    </li>
                }
                @if (model.Method != null && model.Method.Count > 0)
                {
                    <li class="list-group-item">
                        <h3>Method</h3>
                        <div class="MethodList">
                            <ol>
                                @foreach (Method step in model.Method)
                                {
                                    <li>@step.MethodText</li>
                                }
                            </ol>
                        </div>
                    </li>
                }

            </ul>
        <ReviewSectionWithSentiment RecipeID="@RecipeID" />
</div>

    }
    else
    {
        <LoadingElement />
    }


    <ErrorNotification Show="@error" ErrorMessage="@($"An unexpected error occured while attemtpting to load recipe: {errorMessage}")"></ErrorNotification>

    @code{
        [Parameter]
        public long RecipeIDRequest { get; set; }
private bool pageRequested = false;
    private bool validIdentifier;
    private uint RecipeID;
    private bool recipeFound = false;
    bool error = false;
    string errorMessage = "";
    string DownloadPath;
    Recipe model;

    private async Task DeleteRecipe()
    {
        FileManagerModel managerModel = await dataLoader.GetFile(RecipeID);
        if (managerModel.FileID != null)
        {
            fileManager.DeleteFile(managerModel.FileID);
            await dataLoader.DeleteOnlyFile(managerModel.FileID);

        }
        await dataLoader.DeleteRecipeAndRelatedValues(RecipeID);
        NavManager.NavigateTo($"/");
    }



    private async void AltPrint()
    {



        FileManagerModel managerModel = dataLoader.GetFile(RecipeID).Result;

        try
        {
            string pdfUrl = fileManager.GetPdfPath(managerModel.FileID);
            PrintingService.Print(pdfUrl);
        }
        catch
        {
            string documentFilePath = fileManager.GetFilePath(managerModel.FileID);
            string pdfLocation = "";
            var lovePdfAPi = new LovePdfApi(ilovePDFSettings.PublicKey, ilovePDFSettings.SecretKey);

            var task = lovePdfAPi.CreateTask<OfficeToPdfTask>();
            var file = task.AddFile(documentFilePath);
            var time = task.Process();


            //pdfLocation = await fileManager.GetURL(RecipeID);
            //pdfLocation = pdfLocation.Replace(".docx", ".pdf");
            task.DownloadFile(fileManager.RelativeFolderURL(managerModel.FileID));
            pdfLocation = fileManager.GetPdfPath(managerModel.FileID);
            PrintingService.Print(pdfLocation);
        }

    }





    //private void PrintDialogue()
    //{
    //    PrintingService.Print("toPDF2.PDF");
    //}


    protected override async Task OnInitializedAsync()
    {
        try
        {
            uint Result;
            validIdentifier = uint.TryParse(RecipeIDRequest.ToString(), out Result);
            if (validIdentifier)
            {
                RecipeID = Result;
                model = await dataLoader.GetRecipeAndTree(RecipeID);


                if (model != null)
                {
                    DownloadPath = await fileManager.GetURL(RecipeID);
                    recipeFound = true;
                    if (!pageRequested)
                    {

                        await dataLoader.IncrementViews(RecipeID);
                        pageRequested = true;
                    }

                }

            }
        }
        catch (Exception e)
        {
            error = true;
            errorMessage = e.Message;
        }
    }
    }
